<br>
<br>
<div  style="display: flex;flex-wrap: wrap; margin-left: 20px;">
    <div  [@stagCard] class="weatherCard" *ngFor ="let day of dailyArray | slice : 0 : 7 ; let i = index ">

        <div class="symbol">
            <div><img [src] = "this.app.getIcon(day.weather[0].icon)"></div>
            <div >{{day.weather[0].description}}</div>
            <div class="temp">Morning: {{this.app.getTemp(day.temp.morn) }}<sup>o</sup>C</div>
            <div class="temp">Day: {{ this.app.getTemp(day.temp.day) }}<sup>o</sup>C</div>
            <div class="temp">Night: {{ this.app.getTemp(day.temp.night) }}<sup>o</sup>C</div>
       
        </div>
        <div class="detail">
            <div>{{ this.app.gettDate(day.dt) }}</div>
        </div>
    </div>
</div>
