<nav-Dir></nav-Dir>

<div class="card-group" style="display: flex; margin-left: 40px;">
    <div class="card" ng-repeat="journal in vm.journals" >
        <a href="#!/myJournals/{{journal._id}}" style="color: rgb(27, 26, 26);">
            <div class="card-body" >
                <h3 class="card-title">{{journal.heading}}</h3>
                <p class="card-text">{{journal.content.split('.')[0]}}</p>
            </div>
            <div  class="card-footer" >
                <small class="text-muted">{{journal.date}}</small>
            </div>
        </a>
    </div>
</div >
