<div class="logReg">
    <span id="header">JOURNAL 
        <image src="../../../images/pen.svg" style="height: 45px; padding-bottom: 4px;"></image>
    </span>
    <div style="padding-top: 25px; text-align: center">
        <div ng-if="vm.message" class="alert alert-success" role="alert" style="opacity: 0.8; height: 15px; width: 58%">{{vm.message}}</div>
        <div ng-if="vm.error" class="alert alert-danger" role="alert" style="opacity: 0.8; height: 15px; width: 58%"> {{ vm.error }} </div>
        <div ng-if="vm.authError" class="alert alert-danger" role="alert" style="opacity: 0.8; height: 15px; width: 58%">{{vm.authError}}</div>
    </div>

    <form ng-submit="vm.logIn()">
        <div class="logRegInput">
            <input ng-model="vm.username" type="text" placeholder="Username" autocomplete=" ">
        </div>
        <div class="logRegInput">
            <input ng-model="vm.password" type="password" placeholder="Password" autocomplete="">
        </div>
        <div class="logRegInputB">
            <button type="submit" style="height: 35px; width: 100px; color:rgb(238, 194, 144); background-color:peru; border-style:none"  > LOG-IN </button>
        </div>
    </form>
    <div style="font-size: small; opacity: 0.7; padding-top: 22px; padding-left: 6%; ">
        <a href="#!/register" style="color: rgb(49, 47, 47);">No account? Register here => </a>
    </div>
</div>