<nav-Dir></nav-Dir>

<div>
    <div ng-if="vm.error" class="alert alert-danger" role="alert" style="padding-bottom: 25px; opacity: 0.6; height: 15px"> {{ vm.error }} </div>
    <div ng-if="vm.message" class="alert alert-success" role="alert" style="padding-bottom: 25px; opacity: 0.6; height: 15px"> {{ vm.message }} </div>
</div>

<section class="paper">
    <form id="journalSub" ng-submit="vm.createJourn()">
        <textarea rows="3" id="journalSub" ng-model="vm.heading" name="vm.heading" class="head" placeholder="Title">
        </textarea>
            <p>&nbsp;</p>
        <textarea rows="40" id="journalSub" ng-model="vm.content" name="vm.content" placeholder="Start typing here" style="border-color: white;">
        </textarea>
        <input class="submitButton" type="submit"></input>
    </form>
</section>


